.circleTop {
  position: fixed;
  top: -470px;
  left: -470px;
  width: 1300px;
  height: 1300px;
  border-radius: 50%;
  background-color: #1a1a1a;
  z-index: -1;
}

.circleMiddle {
  position: fixed;
  top: 500px;
  left: 800px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #111111;
  z-index: -1;
}

.circleBottom {
  position: fixed;
  bottom: -470px;
  right: -470px;
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  background-color: #202020;
  z-index: -1;
}
